{% extends 'layout.html.twig' %}

{% block title %}Admin | Tous les chiens{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/admindog.css">
    <link rel="stylesheet" href="/assets/css/adminNavBar.css">

{% endblock %}

{% block nav %}{% include 'include/_adminNavBar.html.twig'%}{% endblock %}

{% block content %}

    <h1 class="admin-title"> Tous les chiens </h1>

    <div class="d-flex justify-content-center">
        <a href="/AdminDog/add"
           title="Cliquez ici pour ajouter un chien"
           class="btn btn-lg submit-button mb-5">Ajouter un chien</a>
    </div>

    <div class="container">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Sexe</th>
                    <th scope="col">Date de naissance</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for dog in dogs %}
                <tr>
                    <th scope="row"><a href="show/{{ dog.id }}" class="text-decoration-none">{{ dog.name }}</a></th>
                    <td>{{ dog.gender }}</td>
                    <td>{{ dog.birthday }}</td>
                    <td>{{ dog.dog_status }}</td>
                    <td><a href="edit/{{ dog.id }}">Modifier</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block footer %}{% endblock %}
