{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/individual.css">
{% endblock %}

{% block content %}

    <div class="container-fluids">
        <div class="row content-top-parent mb-1 mx-auto">
            <div class="col-12 mb-1 mb-top ">
                <a href="/" class="d-flex justify-content-center align-items-center btn btn-primary btn-lg active" role="button" aria-pressed="true">Back</a>
            </div>
            <div class="col-12 d-flex flex-column">
                <div class="d-flex  flex-column align-items-center">
                    <img src="{{ details.picture }}" alt="dogs-photo" class="border border-picture  rounded-circle border-warning individual-dog-picture img-fluid w-50">
                    <h2 class="d-flex justify-content-center border rounded border-warning title-content-name "><span>{{ details.name }}</span></h2>
                    <h3 class="mb-1">{{ details.category }}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex flex-column align-items-center mb-1">

                <table class="table table-bordered  rounded w-50">
                    <thead>
                    <tr>
                        <th class="characteristic description" id="d1" headers="blank" scope="row" colspan="2">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if details.description is not empty or null %}
                    <tr>
                        <td class="text" headers="d01 d1" colspan="2">{{ details.description }}</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
                <table class="table table-bordered  rounded w-50">
                    <tbody>
                    <tr>
                        <th class="characteristic" scope="row">État</th>
                        <td class="text">{{ details.dog_status}}</td>
                    </tr>
                    <tr>
                        <th class="characteristic" scope="row">Age</th>
                        <td class="text">{{ details.birthday}}</td>
                    </tr>
                    <tr>
                        <th class="characteristic" scope="row">Color</th>
                        <td class="text">{{ details.dog_color}}</td>
                    </tr>
                    {% if  details.lof_number is not empty %}
                    <tr>
                        <th class="characteristic" scope="row">Numéro de LOF</th>
                        <td class="text">{{ details.lof_number}}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th class="characteristic" scope="row">Test ADN</th>
                        <td class="text">{{ details.is_dna_tested}}</td>
                    </tr>
                    {% if  details.link_chiendefrance is not empty or null%}
                    <tr>
                        <th class="characteristic" scope="row">Liens Chien de France</th>
                        <td class="text"><a href="{{ details.link_chiendefrance}}">Cliquer ici pour voir sa fiche sur le site Chien de France</a></td>
                    </tr>
                    {% endif %}
                    {% if  details.father_id is not empty or null %}
                    <tr>
                        <th class="characteristic" scope="row">Pere</th>
                        <td class="text">{{ father.name}}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <th class="characteristic" scope="row">Pere</th>
                        <td class="text">Père Inconnu</td>
                    </tr>
                    {% endif %}
                    {% if  details.mother_id is not null or null%}
                    <tr>
                        <th class="characteristic" scope="row">Mère</th>
                        <td class="text">{{ mother.name}}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <th class="characteristic" scope="row">Mère</th>
                        <td class="text">Mère Inconnu</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row  d-flex content-parent mx-auto">
            <div class="col-6 d-flex flex-column  father-content mx-auto ">
                <div class="border rounded-top title-parent">
                    <h2>Père</h2>
                </div>
                <div class="border-right border-picture2">
                    {% if father.id is not empty or null %}
                    <a href="/Individual/index/{{ father.id }}" title="father_picture"><img src="{{ father.picture }}" alt="father" class=" border img-fluid parent-img "></a>
                    {% else %}
                    <img src="/assets/images/unknown_dog.jpeg" alt="father" class=" border img-fluid parent-img unknow">
                    {% endif %}

                </div>
            </div>

            <div class="col-6 d-flex flex-column mother-content mx-auto">
                <div class="border rounded-top title-parent">
                    <h2>Mère</h2>
                </div>
                <div class="border-right border-picture2">
                    {% if mother.id is not empty or null %}
                    <a href="/Individual/index/{{ mother.id }}" title="mother_picture"><img src="{{ mother.picture }}" alt="mother" class="border img-fluid parent-img"></a>
                    {% else %}
                        <img src="/assets/images/unknown_dog.jpeg" alt="mother" class="border img-fluid parent-img unknow">
                    {% endif %}
                </div>
            </div>
        </div>


{% endblock %}