<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card w-sm-80 justify-content-center">
                <div class="card-horizontal d-lg-flex">
                    <div class="img-square-wrapper d-flex div-img-actuality justify-content-center overflow-hidden ">
                        <img src="/uploads/{{ actuality.image }}" class="card-img-top img-actuality" alt="{{ actuality.title }}">
                    </div>
                    <div class="container mx-0 card-body d-flex flex-column align-items-center card-background">
                        <div class="container actuality-text mt-md-3 align-items-center">
                            <h3 class="card-title-actuality text-wrap">{{ actuality.title }}</h3>
                            <p class="card-date text-left">{{ actuality.date }}</p>
                            <p class="descText text-truncate card-text text-center text-justify mt-3">{{ actuality.description }}</p>

                        </div>
                        <div class=" div-btn d-flex justify-content-end mt-4">
                            <a href="/actuality/show/{{ actuality.id }}" class="d-flex btn btn-primary button-dark align-items_center">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>