{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/actuality-show.css">{% endblock %}

{% block title %}Actualité | {{ actuality.title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="my-5 pt-5 text-center">
            <h1 class="text-center ">{{ actuality.title }}</h1>
            <h3>{{ actuality.date }}</h3>

        </div>
        <div class="justify-content-center text-center py-5">
            <img src="/uploads/{{ actuality.image }}" class="img-fluid actuality-image orange-solid" alt="{{ actuality.title }}">
        </div>
        <p class="my-5 text-justify">{{ actuality.description }}</p>
    </div>

    <div class="d-flex justify-content-center m-5">
        <a href="/actuality/index" class="btn btn-warning button-main">Retour à la liste des actualités</a>
    </div>
{% endblock %}
