{% extends 'layout.html.twig' %}

{% block title %}Nos Chiens | {{ details.name }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/dogShow.css">
{% endblock %}

{% block content %}

    <section class="main-info p-5">
        <div class="row mb-1 mx-auto">
            <div class="col-12 margin-top ">
                <a href="/Dog/index" class="btn btn-lg button-main px-4 dark-shadow"  id="override" role="button" aria-pressed="true">Back</a>
            </div>
            <div class="d-flex flex-column justify-content-center container">
                <div class="d-flex  flex-column align-items-center">
                    <h1 class="text-white-shadow text-center">{{ details.name }}</h1>
                    <img src="/uploads/{{ details.picture }}" alt="dogs-photo" id="border" class="d-flex align-items-center justify-content-center individual-dog-picture img-fluid dark-shadow margin-top">
                    <h3>{{ details.dog_status }}</h3>
                    <p>Date de naissance : {{ details.birthday}}</p>
                    <p class="text-justify m-5">{{ details.description }}</p>

                </div>
            </div>
        </div>
    </section>
    <section class="secondary-info py-5">
        <h2 class="p-5 text-center text-white-shadow">Informations détaillées</h2>
        <div class="row content-data d-flex justify-content-center pb-5">
            <div class="col-lg-9 col-md-12 d-flex flex-column align-items-center table-responsive">
                <table class="table ">
                    <tbody>
                        <tr>
                            <th class="characteristic" scope="row">Date de naissance</th>
                            <td class="text">{{ details.birthday}}</td>
                        </tr>

                        <tr>
                            <th class="characteristic" scope="row">Couleur</th>
                            <td class="text">{{ details.dog_color}}</td>
                        </tr>

                        <tr>
                            <th class="characteristic" scope="row">Inscrit au LOF</th>
                            {% if  details.lof_number is not empty %}
                                <td class="text">{{ details.lof_number}}</td>
                            {% else %}
                                <td class="text">En cours</td>
                            {% endif %}
                        </tr>

                        <tr>
                            <th class="characteristic" scope="row">Tests ADN</th>
                            {% if details.is_dna_tested == 1 %}
                                <td class="text">Oui</td>
                            {% else %}
                                <td class="text">Non</td>
                            {% endif %}
                        </tr>

                        {% if  details.link_chiendefrance is not empty or null%}
                            <tr>
                                <th class="characteristic" scope="row">Lien Chien de France</th>
                                <td class="text text-decoration-none"><a class="link-data" href="{{ details.link_chiendefrance}}" target="_blank">Voir le pedigree complet</a></td>
                            </tr>
                        {% endif %}

                        {% if  details.fathername is not empty or null %}
                            <tr>
                                <th class="characteristic" scope="row">Père</th>
                                <td class="text">{{ details.fathername}}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <th class="characteristic" scope="row">Père</th>
                                <td class="text">Non précisé</td>
                            </tr>
                        {% endif %}
                        {% if  details.mothername is not null or null%}
                            <tr>
                                <th class="characteristic" scope="row">Mère</th>
                                <td class="text">{{ details.mothername}}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <th class="characteristic" scope="row">Mère</th>
                                <td class="text">Non précisé</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    {% if father or mother is not empty%}
    <section class="parents-info py-5">
    <h2 class="p-5 text-center text-white-shadow">Parents</h2>

    <div class="row justify-content-center mx-auto container">
                {% if father is not empty%}
                <div class="col-lg-6 col-12 mb-4 mt-2 parent-container p-3">
                    <div class="card mx-2 mb-5 border-0 rounded-0">
                        <img src="/uploads/{{father.picture}}" alt="{{father.name}}-picture" class="card-img-top align-self-center orange-solid rounded-0">
                        <div class="card-description mx-auto p-0 dark-shadow">
                            <div class="card-body text-center">
                                <h3 class="card-title text-center"> Père</h3>
                                <h4 class="card-title text-center"> {{father.name}} </h4>
                                <a href="/Dog/show/{{ father.id }}" class="btn btn-md dark-shadow button-secondary m-3" >En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if mother is not empty %}
                <div class="col-lg-6 col-12 mb-4 mt-2 p-3">
                    <div class="card mx-2 mb-5 border-0 rounded-0">
                        <img src="/uploads/{{mother.picture}}" alt="{{mother.name}}-picture" class="card-img-top align-self-center orange-solid rounded-0">
                        <div class="card-description mx-auto p-0 dark-shadow">
                            <div class="card-body text-center">
                                <h3 class="card-title">Mère</h3>
                                <h4 class="card-title"> {{mother.name}} </h4>
                                <a href="/Dog/show/{{ mother.id }}" class="btn btn-md dark-shadow button-secondary m-3" >En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
    </div>
    </section>
    {% endif %}

{% endblock %}
